/* below is the container for all page & components */

.sc-main-container {
	width:  100%;
	margin:  0 auto;
	background: #F8EFD0;
	/*display:  flex;*/
}


/* below is the navbar */

nav {
  width: 100%;
  background-color: white;
  padding-left: 30px;
  padding-right: 10px;
}

.sc-navbar {
  display: flex;
 	justify-content: space-between;
 	align-items: center;

}

.sc-logo {
  display: inline-block;
  font-family: 'Monda', sans-serif;
	font-size: 50px;
	letter-spacing: 6;
	color: #303031;
  /*background-image: linear-gradient(to right, #ff416c, #ff4b2b);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;*/
}


.sc-nav-links {
  list-style: none;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.sc-nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #303031;
  opacity: 0.7;
}

.sc-nav-item:hover a {
	color: #303031;
  opacity: 1;
  /*background-image: linear-gradient(to right, #ff416c, #ff4b2b);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 1;*/
}


/* below is the banner profile  */

.sc-banner-container {
	height: 400px;
	background-color: red;
	display: flex;
	margin: 2rem;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.sc-banner-title {
	height: 300px;
	width: 300px;
	background-color: yellow;
}

.sc-profile-pic {
	height: 300px;
	width:  300px;
	background-color: blue;
}

/* below is the arrow navigation */

.sc-arrow-nav {
	background-color: green;
	margin: 0 2rem 0 2rem;
}

.sc-skills-container {
	
}



