/* below is the container for all page & components */

.sc-main-container {
	width:  100%;
	margin:  0 auto;
	background: #F8EFD0;
	/*display:  flex;*/
}


/* below is the navbar */

nav {
  width: 100%;
  background-color: white;
  padding-left: 30px;
  padding-right: 10px;
}

.sc-navbar {
  display: flex;
 	justify-content: space-between;
 	align-items: center;

}

.sc-logo {
  display: inline-block;
  font-family: 'Monda', sans-serif;
	font-size: 50px;
	letter-spacing: 6;
	color: #303031;
  /*background-image: linear-gradient(to right, #ff416c, #ff4b2b);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;*/
}


.sc-nav-links {
  list-style: none;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.sc-nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #303031;
  opacity: 0.7;
}

.sc-nav-item:hover a {
	color: #303031;
  opacity: 1;
  /*background-image: linear-gradient(to right, #ff416c, #ff4b2b);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 1;*/
}


/* below is the banner profile  */

.sc-banner-container {
	height: 400px;
	background-color: red;
	display: flex;
	margin: 2rem;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.sc-banner-title {
	height: 300px;
	width: 300px;
	background-color: yellow;
}

.sc-profile-pic {
	height: 300px;
	width:  300px;
	background-color: blue;
}

/* below is the arrow navigation */

.sc-arrow-nav {
	background-color: green;
	margin: 0 2rem 0 2rem;
}

/* below is the skills section */

.sc-skills-container {
	background-color: red;
	display: flex;
	margin: 2rem;
	padding: 2rem 2rem;
}

.sc-skills-grid {
	display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 2rem;
  flex-grow: 1;
  justify-content: center;
	align-items: center;
}

.sc-skills-card {
	width: 200px;
	height: 150px;
	background-color: blue;
}

/* below is the projects section */

.sc-projects-container {
	background-color: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
	padding: 0 2rem;
}

.sc-project-card {
	height: 300px;
	width:  100%;
	background-color: blue;
	display: flex;
	padding:  1rem;
	margin: 1rem;
}

.sc-project-card-body {
	background-color: white;
	height: 100%;
	width: 60%;

}

.sc-project-card-img {
	background-color: yellow;
	height: 100%;
	width: 40%;
}

/* below is the experience section */

.sc-exp-container {
	background-color: red;
	display: flex;
	margin: 2rem;
	padding: 2rem 2rem;
}

.sc-exp-grid	{
	display: grid;
	grid-template-columns: repeat(auto-fit, 500px);
  grid-gap: 2rem;
  flex-grow: 1;
  justify-content: space-evenly;
	align-items: center;
}
 .sc-exp-card {
 	height: 350px;
 	width: 500px;
 	background-color: blue;
 }

 .sc-footer {
 	
 }
