<nav class="navbar">
    <h1 class="logo">FreeMe.</h1>
    <ul class="nav-links">
      <li class="nav-item"><a href="#">profile</a></li>
      <li class="nav-item"><a href="#">showcase</a></li>
      <li class="nav-item"><a href="#">about</a></li>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-item" %>
      <% else %>
        <li class="nav-item"><a href="#">login</a></li>
      <% end %>
    </ul>
</nav>
