<%= render 'shared/navbar' %>




  <div class="container1">
    <div class="home-img-1">
      <%= image_tag 'manonbeachlaptop.png', class: 'first-img' %>
    </div>

    <div class="text1">
        <p class="landing-motto">Your launchpad for a rewarding <br>career in tech.</p>
        <%= link_to 'Get Started', new_user_registration_path, class: 'get-started-btn' %>
    </div>
  </div>


  <section class="section section-light">
    <h2>About</h2>
    <p>
      Free your mind by creating a lide that has you sitting in front of a computer. Hopefully on a beach... with reliable internet... Frelelancers and nomads around lend me your 15 second attention span and create a 14 second profile that will allow you to market your skills and get you paid so you can stop looking at a picture of the beach or dreaming about skydiving. Get off YouTube, create your profile, code a couple hours a day, get paid and jump out of REAL planes!
    </p>
  </section>

    <div class="pimg2">

      <!-- <div class="ptext">
        <span >
          I can see the light!
        </span>
      </div> -->
    </div>

    <section class="section section-dark">
      <h2>Section Two</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ullam aspernatur eaque voluptates hic possimus itaque nihil, quasi corrupti minus facilis nemo laborum neque, placeat repudiandae aliquid quis porro labore? Voluptas, iusto sunt deserunt, exercitationem nulla, debitis, esse eius odio rerum earum itaque reprehenderit eaque aspernatur. Totam beatae rerum praesentium eaque necessitatibus dolor tenetur perspiciatis magni natus dicta, distinctio possimus commodi nihil quod est unde molestiae nam eos id dolore repellat voluptatibus! Vero blanditiis, officia, nemo ad dignissimos exercitationem. Consequatur, iure ut natus? Vitae, quidem non error atque, libero repellat, vel, blanditiis deserunt repudiandae reiciendis dolor sapiente nisi aut illum!
      </p>
    </section>
    <div class="pimg3">
      <div class="ptext">
        <span>
          I'm freeee
        </span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Section Three</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ullam aspernatur eaque voluptates hic possimus itaque nihil, quasi corrupti minus facilis nemo laborum neque, placeat repudiandae aliquid quis porro labore? Voluptas, iusto sunt deserunt, exercitationem nulla, debitis, esse eius odio rerum earum itaque reprehenderit eaque aspernatur. Totam beatae rerum praesentium eaque necessitatibus dolor tenetur perspiciatis magni natus dicta, distinctio possimus commodi nihil quod est unde molestiae nam eos id dolore repellat voluptatibus! Vero blanditiis, officia, nemo ad dignissimos exercitationem. Consequatur, iure ut natus? Vitae, quidem non error atque, libero repellat, vel, blanditiis deserunt repudiandae reiciendis dolor sapiente nisi aut illum!
      </p>
    </section>


      <!--Hey! This is the original version
of Simple CSS Waves-->

      <div class="header">

<!--Content before waves-->
        <div class="inner-header flex">
        <!--Just the logo.. Don't mind this-->

        <h1>FreeMe</h1>
        </div>

        <!--Waves Container-->
        <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="var(--secondaryColor)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="var(--secondaryColor)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255,255,255,0.7)" />
        </g>
        </svg>
        </div>
      <!--Waves end-->
      </div>
<!--Header ends-->

<!--Content starts-->
    <div class="content flex">
      <%= render 'shared/navbar' %>

    </div>
<!--Content ends-->

